<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <h2>Datos de servidor</h2>
  <ion-list>
    <ion-item *ngFor="let usuario of usuarios">
      <ion-label>{{usuario.id}} - {{usuario.name}} - {{usuario.email}} - {{usuario.address.street}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="login()">
    <ion-fab-button>
      <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
